<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="./css/style.css">
    <title>Register</title>
</head>

<body class="login">
    <div class="container-login">
        <h1 class="login-h1">Register</h1>
        <form id="registrationForm">
            <input type="text" id="usernameInput" placeholder="username" class="input">
            <input type="email" id="emailInput" placeholder="email" class="input">
            <input type="password" id="passInput" placeholder="password" class="input">
            <input type="submit" value="Register" id="submitRegistrationButton" class="input-login">
        </form>

        <a href="../login" class="register">Already have an account?</a>

    </div>

    <script src="./js/register.js" defer></script>
</body>

</html>